@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        <style>
            #screen {
                border: 10px solid #CCC;
                image-rendering: pixelated;
                image-rendering: crisp-edges;
                image-rendering: -moz-crisp-edges;
                width: 400px;
                height: 400px;
            }
        </style>

        <canvas id="screen" width="10" height="10"></canvas>

        <script>
            export default function renderScreen(screen, game, requestAnimationFrame, currentPlayerId) {
                
            }


        </script>
    </div>
